@keyframes roll {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0%);
    }
}

.animate-roll {
    animation: roll 45s ease-in-out infinite;
}

.menu-item {
    flex-shrink: 0;
    min-width: 150px;
}